* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #FFDE22;
  height: 70px;
}

.body {
  display: flex;
  justify-content: space-between;
  height: 615px;
  margin-top: 15px;
}

.sidebar {
  background-color: #FF7755;
  width: 1600px;
}

.sn {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 0;
  margin-left: 15px;
}

.nav {
  background-color: #00DDFF;
  padding: 10px 20px 20px 20px;
}

.article {
  background-color: #bccbde;
  height: 650px ;
  padding: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  background-color: #393f4d;
  height: 70px;
  margin-top: 15px;
}
